
div.edit_activity( ng-show="activity.show_editable_form" )
		form.form-group( ng-submit=" updateActivity(activity) ")
			div.data_entry
				label= tr['enter_your_performance'] +':'
				//- distance
				div.performance_fields( ng-if="disciplines.distance.indexOf(activity.discipline) > -1 " )
					div
						label(for="distance_1_input")= tr['meters_short'] + ':'
						input.form-control( size="3" maxlength="2" ng-model="updateActivityForm.distance_1" )
					div
						label(for="distance_2_input")= tr['centimeters_short'] + ':'
						input.form-control( size="3" maxlength="2" ng-model="updateActivityForm.distance_2" )
				//- time
				div.performance_fields( ng-if="disciplines.time.indexOf(activity.discipline) > -1 " )
					div
						label(for="hours_input")= tr['hours_short'] + ':'
						input.form-control( size="3" maxlength="2" ng-model="updateActivityForm.hours")
					div
						label( for="minutes_input" )= tr['minutes_short'] + ':'
						input.form-control( size="3" maxlength="2" ng-model="updateActivityForm.minutes")
					div
						label( for="seconds_input" )= tr['seconds_short'] + ':'
						input.form-control( size="3" maxlength="2" ng-model="updateActivityForm.seconds")
					div
						label(for="centiseconds_input")= tr['centiseconds_short'] + ':'
						input.form-control( size="3" maxlength="2" ng-model="updateActivityForm.centiseconds")

				//- points
				div.performance_fields( ng-if="disciplines.points.indexOf(activity.discipline) > -1 " )
					label(for="points_input")= tr['points'] + ':'
					input.form-control(type="text" size="7" maxlength="5" ng-model="updateActivityForm.points")

				//- common variables
				div
					label(for="datepicker_distance")= tr['date'] + ':'
					input.form-control(type="text" class="form-control" datepicker-popup="{{format}}" ng-model="updateActivityForm.date" min-date="'1970-06-22'" max-date="'2005-12-01'" show-weeks="false" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close")
					//- input.form-control(type="text" class="form-control" datepicker-popup="{{format}}" ng-model="newActivityForm.date" min-date="'1970-06-22'" max-date="'2005-12-01'" show-weeks="false" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close")

				div
					label(for="place") Place
					input.form-control(type="text" ng-model="updateActivityForm.place")
				div
					label(for="location") Location
					input.form-control(type="text" ng-model="updateActivityForm.location")
				div
					label(for="competition") Competition
					input.form-control(type="text" ng-model="updateActivityForm.competition")
				div
					label(for="notes") Notes
					input.form-control(type="text" ng-model="updateActivityForm.notes")
				div
					label(for="private") Private
					input( type="checkbox" ng-model="updateActivityForm.private" )

			div.submit_buttons
				input.btn.btn-success(type="submit" name="new_competition" value=tr['save'] )
				a.btn.btn-link( ng-click="activity.show_editable_form = !activity.show_editable_form" )= tr['cancel']
