accordion( class="info add_activity" ng-show="self")
	accordion-group( heading=tr['add_new_activity'] is-open="accordions.addActivity")

		label Choose your discipline
		select( ng-model="newActivityForm.selected_discipline" ng-options="discipline.name for discipline in disciplines_options " ng-init="newActivityForm.selected_discipline = disciplines_options[4].name" )
			option( value="")= tr['choose_your_discipline']

		form( ng-if="newActivityForm.selected_discipline" ng-submit="submitNewActivity()")
			div.data_entry.form-group
				label= tr['enter_your_performance'] +':'
				//- time
				div.performance_fields( ng-if="disciplines.time.indexOf(newActivityForm.selected_discipline.id) > -1" )
					div
						label(for="hours_input")= tr['hours_short'] + ':'
						input.form-control( size="3" maxlength="2" ng-model="newActivityForm.performance.hours" )
					div
						label(for="minutes_input")= tr['minutes_short'] + ':'
						input.form-control( size="3" maxlength="2" ng-model="newActivityForm.performance.minutes")
					div
						label(for="seconds_input")= tr['seconds_short'] + ':'
						input.form-control( size="3" maxlength="2" ng-model="newActivityForm.performance.seconds")
					div
						label(for="centiseconds_input")= tr['centiseconds_short'] + ':'
						input.form-control( size="3" maxlength="2" ng-model="newActivityForm.performance.centiseconds")

				//- distance
				div.performance_fields( ng-if="disciplines.distance.indexOf(newActivityForm.selected_discipline.id) > -1" )
					div
						label(for="distance_1_input")= tr['meters_short'] + ':'
						input.form-control(size="3" maxlength="2" ng-model="newActivityForm.performance.distance_1")
					div
						label(for="distance_2_input")= tr['centimeters_short'] + ':'
						input.form-control(size="3" maxlength="2" ng-model="newActivityForm.performance.distance_2")

				//- points
				div.performance_fields( ng-if="disciplines.points.indexOf(newActivityForm.selected_discipline.id) > -1" )
					div
						label(for="points_input")= tr['points'] + ':'
						input.form-control(type="text" size="7" maxlength="5" ng-model="newActivityForm.performance.points")

				//- common variables
				div
					label(for="datepicker")= tr['date'] + ':'
					input.form-control(type="text" datepicker-popup="{{format}}" ng-model="newActivityForm.date" min-date="'1970-06-22'" max-date="'2005-12-01'" show-weeks="false" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close")
				div
					label(for="place") Place
					input.form-control(type="text" ng-model="newActivityForm.place" placeholder="i.e 4")
				div
					label(for="location") Location
					input.form-control(type="text" ng-model="newActivityForm.location" placeholder="i.e Athens, Greece")
				div
					label(for="competition") Competition
					input.form-control(type="text" ng-model="newActivityForm.competition" placeholder="i.e World Junior Championship")
				div
					label(for="notes") Notes
					input.form-control(type="text" ng-model="newActivityForm.notes" placeholder="There be dragons...")
				div
					label(for="private") Private
					input(type="checkbox" name="private" ng-model="newActivityForm.private")

				//- div
					label= tr['profile_picture'] + ': '
						div
							input( type="file" ng-file-select="onFileSelect($files)" )
							//- button( ng-click="upload.abort()" ) Cancel Upload
							div( ng-show="selectedFiles != null")
								div( class="sel-file" ng-repeat="f in selectedFiles")
									{{($index + 1) + '.'}}
									img( ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}" )
									button.btn.green( ng-click="start($index)" ng-show="progress[$index] < 0") Start
									span( class="progress" ng-show="progress[$index] >= 0" )
										div( style="width:{{progress[$index]}}%") {{progress[$index]}}%
									button( class="button" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100") Abort
									{{f.name}} - size: {{f.size}}B - type: {{f.type}}

			//submit
			div#submit_buttons.submit_buttons
				input.btn.green(type="submit" value=tr['save'])
				a.cancel_link( ng-click="accordions.addActivity = !accordions.addActivity" )= tr['cancel']
