doctype 5
html
head
	//ICONS
	link(rel="icon" href="/images/icons/trafie_72.png" type="image/x-icon")
	link(rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/icons/trafie_57.png")
	link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/icons/trafie_72.png")
	link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/icons/trafie_114.png")
	link(rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/icons/trafie_144.png")

	link(rel='stylesheet', href='/stylesheets/reset.css')
	link(rel='stylesheet', href='/stylesheets/style.css')


	meta(name="apple-mobile-web-app-capable" content="yes")
	title trafie


script(type='text/javascript', src='/javascripts/script.js')

body
	div#mainmenu_container
		div#mainmenu
			div
			a.logo(href="/")
			input#search( name="search" placeholder="Search here" )
			if user
				ul.dropdown
					li
						if section == 'profile'
							a.menu_profile.active(href="/")= user.first_name
						else
							a.menu_profile(href="/")= user.first_name
					li
						if section == 'statistics'
							a.menu_statistics.active(href="/statistics")= tr['statistics']
						else
							a.menu_statistics(href="/statistics")= tr['statistics']
					li
						if section == 'settings'
							a.menu_settings.active(href="/settings")= tr['settings']
						else
							a.menu_settings(href="/settings")= tr['settings']
			else
				ul.dropdown
					li
						a.menu_profile.active(href="/register") Register
					li
						a.menu_statistics.active(href="/login") Login

block content



