extends layout
block content

	div#main_content
		div#profile_container
			div#image_container
				img( src=profile.picture )
			div#profileFullName
				h3= profile.first_name+' '+profile.last_name
				if  profile.discipline && profile.country
					p= ( tr[profile.discipline] ) + " - " + ( tr[profile.country] )
				else
					p= ( tr[profile.discipline] || "") + ( tr[profile.country] || "")


		div#history_container
			ul#history_line.history_line

				li
					div.icon_back
					div.icon +
					div#slider( class="info add_activity" )
						a#add_activity_link( href="javascript:;" )= tr['add_new_activity']
						form#add_activity_form( method="POST" action="/user/"+profile._id+"/activities")
							select#discipline_input( name="discipline" )
								- for( var category in disciplines ) {
									-for( var i in disciplines[category]) {
										if profile.discipline == disciplines[category][i]
											option( value=disciplines[category][i] selected)= tr[disciplines[category][i]]
										else
											option( value=disciplines[category][i] )= tr[disciplines[category][i]]
									-}
								- }

							//time measure
							if disciplines.time.indexOf(profile.discipline) > -1
								div#time_activity.data_entry.row= tr['enter_your_performance'] +':'
									br
									div
										label(for="hours_input")= tr['hours_short'] + ':'
										input#hours_input(name="hours" size="3" maxlength="2" )
									div
										label(for="minutes_input")= tr['minutes_short'] + ':'
										input#minutes_input(name="minutes" size="3" maxlength="2" )
									div
										label(for="seconds_input")= tr['seconds_short'] + ':'
										input#seconds_input(name="seconds" size="3" maxlength="2" )
									div
										label(for="centiseconds_input")= tr['centiseconds_short'] + ':'
										input#centiseconds_input(name="centiseconds" size="3" maxlength="2" )
									div.row
										label(for="datepicker_time")= tr['date'] + ':'
										input#datepicker_time( name="datepicker_time" type="text" )
							else
								div#time_activity.data_entry.row( style="display:none;" )= tr['enter_your_performance'] +':'
									br
									div
										label(for="hours_input")= tr['hours_short'] + ':'
										input#hours_input(name="hours" size="3" maxlength="2" )
									div
										label( for="minutes_input" )= tr['minutes_short'] + ':'
										input#minutes_input(name="minutes" size="3" maxlength="2" )
									div
										label( for="seconds_input" )= tr['seconds_short'] + ':'
										input#seconds_input( name="seconds" size="3" maxlength="2" )
									div
										label(for="centiseconds_input")= tr['centiseconds_short'] + ':'
										input#centiseconds_input( name="centiseconds" size="3" maxlength="2" )
									div.row
										label(for="datepicker_time")= tr['date'] + ':'
										input#datepicker_time( name="datepicker_time" type="text" )

							//distance measure
							if disciplines.distance.indexOf(profile.discipline) > -1
								div#distance_activity.data_entry.row= tr['enter_your_performance'] +':'
									br
									div
										label(for="distance_1_input")= tr['meters_short'] + ':'
										input#distance_1_input(name="distance_1" size="3" maxlength="2").
									div
										label(for="distance_2_input")= tr['centimeters_short'] + ':'
										input#distance_2_input(name="distance_2" size="3" maxlength="2" )
									div.row
										label(for="datepicker_distance")= tr['date'] + ':'
										input#datepicker_distance( name="datepicker_distance" type="text" )
							else
								div#distance_activity.data_entry.row( style="display:none;" )= tr['enter_your_performance'] +':'
									br
									div
										label(for="distance_1_input")= tr['meters_short'] + ':'
										input#distance_1_input( name="distance_1" size="3" maxlength="2").
									div
										label(for="distance_2_input")= tr['centimeters_short'] + ':'
										input#distance_2_input( name="distance_2" size="3" maxlength="2" )
									div.row
										label(for="datepicker_distance")= tr['date'] + ':'
										input#datepicker_distance( name="datepicker_distance" type="text" )

							// points measure
							if disciplines.points.indexOf(profile.discipline) > -1
								div#point_activity.data_entry.row= tr['enter_your_performance'] +':'
									br
									label(for="points_input")= tr['points'] + ':'
									input#points_input(type="text" name="points" size="7" maxlength="5")
									div.row
										label(for="datepicker_point")= tr['date'] + ':'
										input#datepicker_point( name="datepicker_point" type="text" )
							else
								div#point_activity.data_entry.row( style="display:none;" )= tr['enter_your_performance'] +':'
									br
									label(for="points_input")= tr['points'] + ':'
									input#points_input(type="text" name="points" size="7" maxlength="5")
									div.row
										label(for="datepicker_point")= tr['date'] + ':'
										input#datepicker_point( name="datepicker_point" type="text" )

							//submit
							div#submit_buttons.row.submit_buttons
								input.btn_green(type="submit" name="new_competition" value=tr['save'])
								a#cancel_activity_link.cancel_link( href="javascript:;")= tr['cancel']
							//div.row
								input.btn_neutral_gray(type="submit" name="new_competition" value="Submit")
							//div.row
								input.btn_green(type="submit" name="new_competition" value="Submit")
							//div.row
								input.btn_blue_1(type="submit" name="new_competition" value="Submit")
							//div.row
								input.btn_blue_2(type="submit" name="new_competition" value="Submit")

				//TEMPLATES
				li#newActivityTemplate( style="display:none;" )
					div.icon_back
					div.icon ΧΧ
					div.info( data-activity-id)
						a.deleteActivity( href='/user/'+profile._id+'/activities/' ) &nbsp;
						div.performance
						div.discipline
						div.date
						a.editActivity( href="javascript:;" ) &nbsp;

				div#editDistanceActivityTemplate.row( style="display:none;" )= tr['enter_your_performance'] +':'
					br
					form#edit_activity_form.data_entry( method="PUT" action="/user/"+profile._id+"/activities/")
						div
							label(for="distance_1_input")= tr['meters_short'] + ':'
							input#distance_1_input( name="distance_1" size="3" maxlength="2").
						div
							label(for="distance_2_input")= tr['centimeters_short'] + ':'
							input#distance_2_input( name="distance_2" size="3" maxlength="2" )
						div.row
							label(for="datepicker_distance")= tr['date'] + ':'
							input#datepicker_distance( name="datepicker_distance" type="text" )
						div#submit_buttons.row.submit_buttons
							input.btn_green(type="submit" name="new_competition" value=tr['save'])
							a.cancel_edit_activity.cancel_link( href="javascript:;")= tr['cancel']

				div#editTimeActivityTemplate.row( style="display:none;" )= tr['enter_your_performance'] +':'
					br
					form#edit_activity_form.data_entry( method="PUT" action="/user/"+profile._id+"/activities/")
						div
							label(for="hours_input")= tr['hours_short'] + ':'
							input#hours_input(name="hours" size="3" maxlength="2" )
						div
							label( for="minutes_input" )= tr['minutes_short'] + ':'
							input#minutes_input(name="minutes" size="3" maxlength="2" )
						div
							label( for="seconds_input" )= tr['seconds_short'] + ':'
							input#seconds_input( name="seconds" size="3" maxlength="2" )
						div
							label(for="centiseconds_input")= tr['centiseconds_short'] + ':'
							input#centiseconds_input( name="centiseconds" size="3" maxlength="2" )
						div.row
							label(for="datepicker_time")= tr['date'] + ':'
							input#datepicker_time( name="datepicker_time" type="text" )
						div#submit_buttons.row.submit_buttons
							input.btn_green(type="submit" name="new_competition" value=tr['save'])
							a.cancel_edit_activity.cancel_link( href="javascript:;")= tr['cancel']

				div#editPointsActivityTemplate.row( style="display:none;" )= tr['enter_your_performance'] +':'
					br
					form#edit_activity_form.data_entry( method="PUT" action="/user/"+profile._id+"/activities/")
						label(for="points_input")= tr['points'] + ':'
						input#points_input(type="text" name="points" size="7" maxlength="5")
						div.row
							label(for="datepicker_point")= tr['date'] + ':'
							input#datepicker_point( name="datepicker_point" type="text" )
						div#submit_buttons.row.submit_buttons
							input.btn_green(type="submit" name="new_competition" value=tr['save'])
							a.cancel_edit_activity.cancel_link( href="javascript:;")= tr['cancel']


				each activity in activities
					li
						div.icon_back
						div.icon XX
						div.info( data-activity-id=activity._id )
							div.current_data
								a.deleteActivity( href='/user/'+profile._id+'/activities/' + activity._id  ) &nbsp;
								//div#activity_menu
									ul
										li
											a( href="#" ) &nbsp;
											ul
												li
													a.editActivity( href="#" ) Edit Activity
													a.deleteActivity( href="#" ) Delete Activity

								//div.ribbon.ribbon-yellow
									div.banner
										div.text Personal Best
								div.performance( data-value=activity.performance )= activity.formatted_performance
								div.discipline( data-value=activity.discipline )= tr[activity.discipline]
								div.date( data-value=activity.date )= activity.date.toString().split(' GMT')[0]
							a.editActivity( href="javascript:;" ) &nbsp;

				li
					div.icon_back
					div.icon *
					div.end
						div.discipline everything started here


	//scripts
	script(type='text/javascript', src='/javascripts/profile.js')
	script( type='text/javascript', src='/javascripts/pikaday.min.js')
	script.
		var picker_time = new Pikaday({field: document.getElementById('datepicker_time'), firstDay: 1, minDate: new Date('2000-01-01'), maxDate: new Date('2020-12-31'), yearRange: [2000,2020]})

		var picker_distance = new Pikaday({field: document.getElementById('datepicker_distance'), firstDay: 1, minDate: new Date('2000-01-01'), maxDate: new Date('2020-12-31'), yearRange: [2000,2020]})

		var picker_point = new Pikaday({field: document.getElementById('datepicker_point'), firstDay: 1, minDate: new Date('2000-01-01'), maxDate: new Date('2020-12-31'), yearRange: [2000,2020]})
	script.
		profileHandlers();