extends layout
block content

	div#main_content
		div#profile_container
			div#image_container
				img( src="../images/profile_pics/user.png" )
			div#profileFullName
				h3= profile.first_name+' '+profile.last_name
				p= profile.discipline + ' - ' + profile.country


		div#history_container
			ul.history_line

				li
					div.icon_back
					div.icon +
					div#slider( class="info add_activity" )
						a#add_activity_link( onclick="open_new_activity_form();" href="javascript:;")= tr['add_new_activity']
						form#add_activity_form( method="POST" )
							select#discipline_input(name="discipline" onchange="show_specific_form(this);")
								option(value="no-selection" selected )= tr['choose_your_discipline']
								option(value="100m")= tr['100m']
								option(value="200m")= tr['200m']
								option(value="400m")= tr['400m']
								option(value="800m")= tr['800m']
								option(value="1500m")= tr['1500m']
								option(value="3000m")= tr['3000m']
								option(value="60m_hurdles")= tr['60m_hurdles']
								option(value="100m_hurdles")= tr['100m_hurdles']
								option(value="110m_hurdles")= tr['110m_hurdles']
								option(value="400m_hurdles")= tr['400m_hurdles']
								option(value="3000m_steeple")= tr['3000m_steeple']
								option(value="4x100m_relay")= tr['4x100m_relay']
								option(value="4x400m_relay")= tr['4x400m_relay']
								option(value="marathon")= tr['marathon']
								option(value="high_jump")= tr['high_jump']
								option(value="long_jump")= tr['long_jump']
								option(value="triple_jump")= tr['triple_jump']
								option(value="pole_vault")= tr['pole_vault']
								option(value="shot_put")= tr['shot_put']
								option(value="discus")= tr['discus']
								option(value="hammer")= tr['hammer']
								option(value="javelin")= tr['javelin']
								option(value="pentathlon")= tr['pentathlon']
								option(value="heptathlon")= tr['heptathlon']
								option(value="decathlon")= tr['decathlon']
							//time measure
							div#time_activity.data_entry.row( style="display:none;" )= tr['enter_your_performance'] +':'
								br
								div
									label(for="hours_input")= tr['hours_short'] + ':'
									input#hours_input(name="hours" size="3" maxlength="2" onkeyup="number0to59(this);" )
								div
									label(for="minutes_input")= tr['minutes_short'] + ':'
									input#minutes_input(name="minutes" size="3" maxlength="2" onkeyup="number0to59(this);" )
								div
									label(for="seconds_input")= tr['seconds_short'] + ':'
									input#seconds_input(name="seconds" size="3" maxlength="2" onkeyup="number0to59(this);" )
								div
									label(for="centiseconds_input")= tr['centiseconds_short'] + ':'
									input#centiseconds_input(name="centiseconds" size="3" maxlength="2" onkeyup="number0to99(this);" )
								div.row
									label(for="datepicker_time") Date:
									input#datepicker_time( type="text" )

							//distance measure
							div#distance_activity.data_entry.row( style="display:none;" )= tr['enter_your_performance'] +':'
								br
								div
									label(for="distance_1_input")= tr['meters_short'] + ':'
									input#distance_1_input(name="distance_1" size="3" maxlength="2").
								div
									label(for="distance_2_input")= tr['centimeters_short'] + ':'
									input#distance_2_input(name="distance_2" size="3" maxlength="2" onkeyup="number0to99(this);" )
								div.row
									label(for="datepicker_distance") Date:
									input#datepicker_distance( type="text" )
							// points measure
							div#point_activity.data_entry.row( style="display:none;" )= tr['enter_your_performance'] +':'
								br
								label(for="points_input")= tr['points'] + ':'
								input#points_input(type="text" name="points" size="7" maxlength="5")
								div.row
									label(for="datepicker_point") Date:
									input#datepicker_point( type="text" )

							//submit
							div#submit_buttons.row.submit_buttons( style="display:none;" )
								input.btn_green(type="submit" name="new_competition" value=tr['save'])
								a#cancel_activity_link.cancel_link( onclick="close_new_activity_form();" href="javascript:;")= tr['cancel']
							//div.row
								input.btn_neutral_gray(type="submit" name="new_competition" value="Submit")
							//div.row
								input.btn_green(type="submit" name="new_competition" value="Submit")
							//div.row
								input.btn_blue_1(type="submit" name="new_competition" value="Submit")
							//div.row
								input.btn_blue_2(type="submit" name="new_competition" value="Submit")


				each activity in activities
					li
						div.icon_back
						div.icon XX
						div.info
							div#activity_menu
								ul
									li
										a( href="#" ) &nbsp;
										ul
											li
												a( href="#" ) Edit Activity
												a( href="#" ) Delete Activity

							//div.ribbon.ribbon-yellow
								div.banner
									div.text Personal Best
							div.performance= activity.performance
							div.discipline= tr[activity.discipline]
							div.date= activity.date.toString().split(' GMT')[0]

				li
					div.icon_back
					div.icon *
					div.end
						div.discipline everything started here

	script( type='text/javascript', src='/javascripts/pikaday.min.js')
	script.
		var picker_time = new Pikaday({field: document.getElementById('datepicker_time'), firstDay: 1, minDate: new Date('2000-01-01'), maxDate: new Date('2020-12-31'), yearRange: [2000,2020]})

		var picker_distance = new Pikaday({field: document.getElementById('datepicker_distance'), firstDay: 1, minDate: new Date('2000-01-01'), maxDate: new Date('2020-12-31'), yearRange: [2000,2020]})

		var picker_point = new Pikaday({field: document.getElementById('datepicker_point'), firstDay: 1, minDate: new Date('2000-01-01'), maxDate: new Date('2020-12-31'), yearRange: [2000,2020]})