extends layout
block content
	div#main_content
		//h4.left= title

		div#settingsNav
			ul
				li#profileSettingsTab.active
					a( href="javascript:;" ) Profile Settings
				li#accountSettingsTab
					a( href="javascript:;" ) Account Settings
				li.logout
					a(href="/logout")= tr['logout']

		//PROFILE SETTINGS
		div#profileSettings.settingsContent
			h3 Profile Settings

			//PROFILE PIC
			div.settingsElement
				form( method="POST" enctype="multipart/form-data" )
					img( src=profile.picture style="height:80px;")
					label Profile pic :
					span= errors.profile_pic
					input#upload_profile_pic( name="profile_pic" type="file" accept="image/*")
					input#submit_profile_pic( type="submit" value=tr['submit'])

			//FIRST NAME
			div.settingsElement
				form( method="POST")
					label= tr['first_name'] + ' : '
					span= errors.first_name
					span#first_name_existed.existed= profile.first_name
					input#first_name( name="first_name" value=profile.first_name hidden)
					div#settingsFirstNameButtons.formButtons(hidden)
						input#submitFirstName.btn_green( type="submit" value=tr['submit'])
						a#cancelEditFirstName.cancel_link( href="javascript:;" )= tr['cancel']

					a#editFirstName.editLink( href="javascript:;" )= tr['edit']

			//LAST NAME
			div.settingsElement
				form( method="POST")
					label= tr['last_name'] + ' : '
					span= errors.last_name
					span#last_name_existed.existed= profile.last_name
					input#last_name( name="last_name" value=profile.last_name hidden )
					div#settingsLastNamebuttons.formButtons(hidden)
						input#submitLastName.btn_green( type="submit" value=tr['submit'])
						a#cancelEditLastName.cancel_link( href="javascript:;" )= tr['cancel']
					a#editLastName.editLink( href="javascript:;" )= tr['edit']

			//GENDER
			div.settingsElement
				form( method="POST")
					label Gender :
					span= errors.last_name
					span#gender_existed= tr[profile.gender] || "undefined"
					div#gender( hidden )
						if profile.gender == 'male'
							input(id="male" name="gender" type="radio" value="male" checked)
							label(for="male" class="clearfloat" )= tr['male']
						else
							input(id="male" name="gender" type="radio" value="male" )
							label(for="male" class="clearfloat" )= tr['male']
						if profile.gender == 'female'
							input(id="female" name="gender" type="radio" value="female" checked)
							label(for="female" class="clearfloat" )= tr['female']
						else
							input(id="female" name="gender" type="radio" value="female")
							label(for="female" class="clearfloat" )= tr['female']

					div#settingsGenderbuttons.formButtons(hidden)
						input#submitGender.btn_green( type="submit" value=tr['submit'])
						a#cancelEditGender.cancel_link( href="javascript:;" )= tr['cancel']
					a#editGender.editLink( href="javascript:;" )= tr['edit']

			//AGE
			div.settingsElement
				form( method="POST")
					label Birthday :
					span= errors.age
					span#birthday_existed= profile.birthday.year+'/'+profile.birthday.month+'/'+profile.birthday.day
					div#birthday( hidden )
						select#birthday_year( name="birthday_year" onChange="setLeap(this.value)" )
							- for (var i = 2010; i > 1900; i--) {
									if i == profile.birthday.year
										option( value=i selected)= i
									else
										option( value=i )= i
							- }
						select#birthday_month( name="birthday_month" onChange="setSmall(this.value)" )
							- for (var i = 1; i < 13; i++) {
								if i == profile.birthday.month
									option( value=i selected )= i
								else
									option( value=i )= i

							- }
						select#birthday_day( name="birthday_day" )
							- for (var i = 1; i < 29; i++) {
								if i == profile.birthday.day
									option( value=i selected )= i
								else
									option( value=i )= i
							- }
								option#m29( value="29" ) 29
								option#m30( value="30" ) 30
								option#m31( value="31" ) 31
					div#settingsAgebuttons.formButtons(hidden)
						input#submitAge.btn_green( type="submit" value=tr['submit'])
						a#cancelEditAge.cancel_link( href="javascript:;" )= tr['cancel']
					a#editAge.editLink( href="javascript:;" )= tr['edit']

			//MAIN DISCIPLINE
			div.settingsElement
				form( method="POST")
					label Main Discipline :
					span= errors.last_name
					span#main_discipline_existed= tr[profile.discipline] || "undefined"
					select#main_discipline_input(name="discipline" hidden)
						- for( var i in disciplines ) {
							if profile.discipline == disciplines[i]
								option( value=disciplines[i] selected)= tr[disciplines[i]]
							else
								option( value=disciplines[i] )= tr[disciplines[i]]
						- }
					div#settingsMainDisciplineButtons.formButtons(hidden)
						input#submitMainDiscipline.btn_green( type="submit" value=tr['submit'])
						a#cancelEditMainDiscipline.cancel_link( href="javascript:;" )= tr['cancel']
					a#editMainDiscipline.editLink( href="javascript:;" )= tr['edit']

			//COUNTRY
			div.settingsElement
				form( method="POST")
					label Country :
					span= errors.country
					span#country_existed= tr[profile.country] || "undefined"
					select#country_input(name="country" hidden)
							option(value="no-selection" selected) Choose your country
							- for( var i in countries ) {
								if profile.country == countries[i]
									option( value=countries[i] selected)= tr[countries[i]]
								else
									option( value=countries[i] )= tr[countries[i]]
							- }
					div#settingsCountryButtons.formButtons(hidden)
						input#submitCountry.btn_green( type="submit" value=tr['submit'])
						a#cancelEditCountry.cancel_link( href="javascript:;" )= tr['cancel']
					a#editCountry.editLink( href="javascript:;" )= tr['edit']

			//LANGUAGE
			div.settingsElement
				form( method="POST")
					label Language :
					span= errors.language
					span#language_existed= languages[profile.language]
					select#language_input(name="language" hidden)
							option(value="no-selection" selected) Choose your Language
							- for( var i in languages ) {
								if languages[profile.language] == languages[i]
									option( value=i selected)= languages[i]
								else
									option( value=i )= languages[i]
							- }
					div#settingsLanguageButtons.formButtons(hidden)
						input#submitLanguage.btn_green( type="submit" value=tr['submit'])
						a#cancelEditLanguage.cancel_link( href="javascript:;" )= tr['cancel']
					a#editLanguage.editLink( href="javascript:;" )= tr['edit']

			//ABOUT ME
			div.settingsElement
				form( method="POST")
					label About me :
					span= errors.about
					span#about_existed( style="overflow-wrap: break-word;")= profile.about || " Write something about you."
					textarea#about_me.textarea( name="about" maxlength="400" hidden)= profile.about
					div#settingsAboutMeButtons.formButtons(hidden)
						input#submitAboutMe.btn_green( type="submit" value=tr['submit'])
						a#cancelEditAboutMe.cancel_link( href="javascript:;" )= tr['cancel']
					a#editAboutMe.editLink( href="javascript:;" )= tr['edit']


		//ACCOUNT SETTINGS
		div#accountSettings.settingsContent( style="display:none;" )
			h3 Account Settings

			div.settingsElement
				label Change Password
				a#editPassword.editLink( href="javascript:;" )= tr['edit']
				div#changePassword.editable( hidden )
					form#changePasswordForm( method="POST")
						span.row
							label( for="old_password" ) Old Password:
							span= errors.first_name
							input#old_password( name="old_password" type="password")

						span.row
							label( for="password" ) New Password:
							span= errors.first_name
							input#new_password( name="password" type="password")

						span.row
							label( for="repeat_password" ) Repeat New Password:
							span= errors.first_name
							input#repeat_new_password( name="repeat_password" type="password")

						div#settingsAboutMeButtons
							input#submitNewPassword.btn_green( type="submit" value=tr['submit'])
							a#cancelNewPassword.cancel_link( href="javascript:;" )= tr['cancel']

	//scripts
	script(type='text/javascript', src='/javascripts/settings.js')
	script.
		settingsHandlers();
