extends layout
block content
	div#main_content
		//h4.left= title

		div#settingsNav
			ul
				li#profileSettingsTab.active
					a( href="javascript:;" )= tr['profile_settings']
				li#accountSettingsTab
					a( href="javascript:;" )= tr['account_settings']
				li.logout
					a(href="/logout")= tr['logout']

		//PROFILE SETTINGS
		div#profileSettings.settingsContent
			h3= tr['profile_settings']

			//PROFILE PIC
			div#profilePicDiv.settingsElement
				form( method="POST" enctype="multipart/form-data" )
					label= tr['profile_picture'] + ':'
					img( src=user.picture style="height:80px;")
					span= errors.profile_pic
					input#upload_profile_pic.editable( name="profile_pic" type="file" accept="image/*")
					input#submit_profile_pic.editable( type="submit" value=tr['submit'])
					a#cancelEditProfilePicture.cancel_link.editable( href="javascript:;" )= tr['cancel']

					a#editProfilePicture.editLink.non_editable( href="javascript:;" )= tr['edit']

			//USERNAME
			div#usernameDiv.settingsElement
				form( method="POST")
					label= tr['username'] + ' : '
					span= errors.username
					span#username_error
					span.existed.non_editable= user.username
					label.editable( for="username" ) http://www.trafie.com/
					input#username.editable( name="username" value=user.username )
					div.formButtons.editable
						input#submitUsername.btn_green( type="submit" value=tr['submit'])
						a#cancelEditUsername.cancel_link( href="javascript:;" )= tr['cancel']

					a#editUsername.editLink.non_editable( href="javascript:;" )= tr['edit']

			//FIRST NAME
			div#firstNameDiv.settingsElement
				form( method="POST")
					label= tr['first_name'] + ' : '
					span= errors.first_name
					span#first_name_error
					span.existed.non_editable= user.first_name
					input#first_name.editable( name="first_name" value=user.first_name )
					div.formButtons.editable
						input#submitFirstName.btn_green( type="submit" value=tr['submit'])
						a#cancelEditFirstName.cancel_link( href="javascript:;" )= tr['cancel']

					a#editFirstName.editLink.non_editable( href="javascript:;" )= tr['edit']

			//LAST NAME
			div#lastNameDiv.settingsElement
				form( method="POST")
					label= tr['last_name'] + ' : '
					span= errors.last_name
					span#last_name_error
					span.existed.non_editable= user.last_name
					input#last_name.editable( name="last_name" value=user.last_name )
					div.formButtons.editable
						input#submitLastName.btn_green( type="submit" value=tr['submit'])
						a#cancelEditLastName.cancel_link( href="javascript:;" )= tr['cancel']
					a#editLastName.editLink.non_editable( href="javascript:;" )= tr['edit']

			//GENDER
			div#genderDiv.settingsElement
				form( method="POST")
					label= tr['gender'] + ':'
					span= errors.last_name
					span.non_editable= tr[user.gender] || "undefined"
					div#gender.editable
						if user.gender == 'male'
							input(id="male" name="gender" type="radio" value="male" checked)
							label(for="male" class="clearfloat" )= tr['male']
						else
							input(id="male" name="gender" type="radio" value="male" )
							label(for="male" class="clearfloat" )= tr['male']
						if user.gender == 'female'
							input(id="female" name="gender" type="radio" value="female" checked)
							label(for="female" class="clearfloat" )= tr['female']
						else
							input(id="female" name="gender" type="radio" value="female")
							label(for="female" class="clearfloat" )= tr['female']

					div.formButtons.editable
						input#submitGender.btn_green( type="submit" value=tr['submit'])
						a#cancelEditGender.cancel_link( href="javascript:;" )= tr['cancel']
					a#editGender.editLink.non_editable( href="javascript:;" )= tr['edit']

			//AGE
			div#ageDiv.settingsElement
				form( method="POST")
					label= tr['birthday'] + ':'
					span= errors.age
					span.non_editable= user.birthday.year+'/'+user.birthday.month+'/'+user.birthday.day
					div#birthday.editable
						select#birthday_year( name="birthday_year" onChange="setLeap(this.value)" )
							- for (var i = 2010; i > 1900; i--) {
									if i == user.birthday.year
										option( value=i selected)= i
									else
										option( value=i )= i
							- }
						select#birthday_month( name="birthday_month" onChange="setSmall(this.value)" )
							- for (var i = 1; i < 13; i++) {
								if i == user.birthday.month
									option( value=i selected )= i
								else
									option( value=i )= i

							- }
						select#birthday_day( name="birthday_day" )
							- for (var i = 1; i < 29; i++) {
								if i == user.birthday.day
									option( value=i selected )= i
								else
									option( value=i )= i
							- }
								option#m29( value="29" ) 29
								option#m30( value="30" ) 30
								option#m31( value="31" ) 31
					div.formButtons.editable
						input#submitAge.btn_green( type="submit" value=tr['submit'])
						a#cancelEditAge.cancel_link( href="javascript:;" )= tr['cancel']
					a#editAge.editLink.non_editable( href="javascript:;" )= tr['edit']

			//MAIN DISCIPLINE
			div#mainDisciplineDiv.settingsElement
				form( method="POST")
					label= tr['main_discipline'] + ':'
					span= errors.last_name
					span.non_editable= tr[user.discipline] || "undefined"
					select#main_discipline_input.editable(name="discipline" )
						- for( var i in disciplines ) {
							if user.discipline == disciplines[i]
								option( value=disciplines[i] selected)= tr[disciplines[i]]
							else
								option( value=disciplines[i] )= tr[disciplines[i]]
						- }
					div.formButtons.editable
						input#submitMainDiscipline.btn_green( type="submit" value=tr['submit'])
						a#cancelEditMainDiscipline.cancel_link( href="javascript:;" )= tr['cancel']
					a#editMainDiscipline.editLink.non_editable( href="javascript:;" )= tr['edit']

			//COUNTRY
			div#countryDiv.settingsElement
				form( method="POST")
					label= tr['country'] + ':'
					span= errors.country
					span.non_editable= tr[user.country] || "undefined"
					select.editable(name="country" )
							option(value="no-selection" selected)= tr['choose_your_country']
							- for( var i in countries ) {
								if user.country == countries[i]
									option( value=countries[i] selected)= tr[countries[i]]
								else
									option( value=countries[i] )= tr[countries[i]]
							- }
					div.formButtons.editable
						input#submitCountry.btn_green( type="submit" value=tr['submit'])
						a#cancelEditCountry.cancel_link( href="javascript:;" )= tr['cancel']
					a#editCountry.editLink.non_editable( href="javascript:;" )= tr['edit']

			//LANGUAGE
			div#languageDiv.settingsElement
				form( method="POST")
					label= tr['language'] + ':'
					span= errors.language
					span.non_editable= languages[user.language]
					select.editable(name="language" hidden)
							option(value="no-selection" selected)= tr['choose_your_language']
							- for( var i in languages ) {
								if languages[user.language] == languages[i]
									option( value=i selected)= languages[i]
								else
									option( value=i )= languages[i]
							- }
					div.formButtons.editable
						input#submitLanguage.btn_green( type="submit" value=tr['submit'])
						a#cancelEditLanguage.cancel_link( href="javascript:;" )= tr['cancel']
					a#editLanguage.editLink.non_editable( href="javascript:;" )= tr['edit']

			//DATE FORMAT
			div#dateFormatDiv.settingsElement
				form( method="POST")
					label= tr['date_format'] + ':'
					span= errors.data_format
					span.non_editable= tr[user.date_format]
					select.editable( name='date_format' )
						if user.date_format == 'd-m-y'
							option( value='d-m-y' selected )= tr['d-m-y']
						else
							option( value='d-m-y' )= tr['d-m-y']

						if user.date_format == 'm-d-y'
							option( value='m-d-y' selected)= tr['m-d-y']
						else
							option( value='m-d-y' )= tr['m-d-y']
					div.formButtons.editable
						input#submitDateFormat.btn_green( type="submit" value=tr['submit'])
						a#cancelEditDateFormat.cancel_link( href="javascript:;" )= tr['cancel']
					a#editDateFormat.editLink.non_editable( href="javascript:;" )= tr['edit']



			//ABOUT ME
			div#aboutMeDiv.settingsElement
				form( method="POST")
					label= tr['about_me'] + ':'
					span= errors.about
					span.non_editable( style="overflow-wrap: break-word;")= user.about || tr['write_something_about_you']
					textarea.textarea.editable( name="about" maxlength="400" )= user.about
					div.formButtons.editable
						input#submitAboutMe.btn_green( type="submit" value=tr['submit'])
						a#cancelEditAboutMe.cancel_link( href="javascript:;" )= tr['cancel']
					a#editAboutMe.editLink.non_editable( href="javascript:;" )= tr['edit']


		//ACCOUNT SETTINGS
		div#accountSettings.settingsContent( style="display:none;" )
			h3= tr['account_settings']

			div#changePasswordDiv.settingsElement
				label= tr['change_password']
				a#editPassword.editLink.non_editable( href="javascript:;" )= tr['edit']
				div#changePassword.editable
					form( method="POST")
						span.row
							label( for="old_password" )= tr['old_password'] + ':'
							span= errors.first_name
							input( name="old_password" type="password")

						span.row
							label( for="password" )= tr['new_password'] + ':'
							span= errors.first_name
							input( name="password" type="password")

						span.row
							label( for="repeat_password" )= tr['repeat_password'] + ':'
							span= errors.first_name
							input( name="repeat_password" type="password")

						div#settingsAboutMeButtons
							input#submitNewPassword.btn_green( type="submit" value=tr['submit'])
							a#cancelNewPassword.cancel_link( href="javascript:;" )= tr['cancel']

	//scripts
	script(type='text/javascript', src='/javascripts/settings.js')
	script.
		settingsHandlers();
