extends layout
block content
	div#main_content
		//h4.left= title

		div#settingsNav
			ul
				li#profileSettingsTab.active
					a( href="javascript:;" onclick="showSettingsTab('profileSettings')") Profile Settings
				li#accountSettingsTab
					a( href="javascript:;" onclick="showSettingsTab('accountSettings')") Account Settings
				li.logout
					a(href="/logout")= tr['logout']

		//PROFILE SETTINGS
		div#profileSettings.settingsContent
			h3 Profile Settings
			div.settingsElement
				form( method="POST")
					label= tr['first_name'] + ' : '
					span= errors.first_name
					input#first_name( name="first_name" value=profile.first_name disabled )
					input#first_name_shadow( name="first_name" value=profile.first_name hidden disabled)
					div#settingsFirstNameButtons(hidden)
						input#submitFirstName.btn_green( type="submit" value=tr['submit'])
						a#cancelEditFirstName.cancel_link( href="javascript:;" onclick="cancelEditField('first_name_shadow', 'first_name', 'settingsFirstNameButtons', 'editFirstName')")= tr['cancel']
					a#editFirstName.editLink( href="javascript:;" onclick="editField('first_name', 'settingsFirstNameButtons', 'editFirstName')" )= tr['edit']

			div.settingsElement
				form( method="POST")
					label= tr['last_name'] + ' : '
					span= errors.last_name
					input#last_name( name="last_name" value=profile.last_name disabled )
					input#last_name_shadow( name="last_name" value=profile.last_name hidden disabled)
					div#settingsLastNamebuttons(hidden)
						input#submitLastName.btn_green( type="submit" value=tr['submit'])
						a#cancelEditLastName.cancel_link( href="javascript:;" onclick="cancelEditField('last_name_shadow', 'last_name', 'settingsLastNamebuttons', 'editLastName')")= tr['cancel']
					a#editLastName.editLink( href="javascript:;" onclick="editField('last_name', 'settingsLastNamebuttons', 'editLastName')" )= tr['edit']


			div.settingsElement
				form( method="POST")
					label Main Discipline :
					span= errors.last_name
					select#main_discipline_input(name="discipline" onchange="show_specific_form(this);" disabled)
								option(value="no-selection" selected)= tr['choose_your_discipline']
								option(value="100m")= tr['100m']
								option(value="200m")= tr['200m']
								option(value="400m")= tr['400m']
								option(value="800m")= tr['800m']
								option(value="1500m")= tr['1500m']
								option(value="3000m")= tr['3000m']
								option(value="60m_hurdles")= tr['60m_hurdles']
								option(value="100m_hurdles")= tr['100m_hurdles']
								option(value="110m_hurdles")= tr['110m_hurdles']
								option(value="400m_hurdles")= tr['400m_hurdles']
								option(value="3000m_steeple")= tr['3000m_steeple']
								option(value="4x100m_relay")= tr['4x100m_relay']
								option(value="4x400m_relay")= tr['4x400m_relay']
								option(value="marathon")= tr['marathon']
								option(value="high_jump")= tr['high_jump']
								option(value="long_jump")= tr['long_jump']
								option(value="triple_jump")= tr['triple_jump']
								option(value="pole_vault")= tr['pole_vault']
								option(value="shot_put")= tr['shot_put']
								option(value="discus")= tr['discus']
								option(value="hammer")= tr['hammer']
								option(value="javelin")= tr['javelin']
								option(value="pentathlon")= tr['pentathlon']
								option(value="heptathlon")= tr['heptathlon']
								option(value="decathlon")= tr['decathlon']
					div#settingsMainDisciplineButtons(hidden)
						input#submitMainDiscipline.btn_green( type="submit" value=tr['submit'])
						a#cancelEditMainDiscipline.cancel_link( href="javascript:;" onclick="cancelEditField('last_name_shadow', 'main_discipline_input', 'settingsMainDisciplineButtons', 'editMainDiscipline')")= tr['cancel']
					a#editMainDiscipline.editLink( href="javascript:;" onclick="editField('main_discipline_input', 'settingsMainDisciplineButtons', 'editMainDiscipline')" )= tr['edit']

			div.settingsElement
				form( method="POST")
					label About me :
					span= errors.last_name
					textarea#about_me.textarea( name="last_name" maxlength="1000" disabled) Two times olympic champion. Dragons and stories lives here bla bla bla
					input#about_me_shadow( name="last_name" type="text" value=profile.last_name hidden disabled)
					div#settingsAboutMeButtons(hidden)
						input#submitAboutMe.btn_green( type="submit" value=tr['submit'])
						a#cancelEditAboutMe.cancel_link( href="javascript:;" onclick="cancelEditField('last_name_shadow', 'about_me', 'settingsAboutMeButtons', 'editAboutMe')")= tr['cancel']
					a#editAboutMe.editLink( href="javascript:;" onclick="editField('about_me', 'settingsAboutMeButtons', 'editAboutMe')" )= tr['edit']

		//ACCOUNT SETTINGS
		div#accountSettings.settingsContent( style="display:none;" )
			h3 Account Settings

			div.settingsElement
				label Change Password
				a#editPassword.editLink( href="javascript:;" onclick="editHiddenField('changePassword', 'editPassword')" )= tr['edit']
				div#changePassword.editable( hidden )
					form#changePasswordForm( method="POST")
						span.row
							label( for="old_password" ) Old Password:
							span= errors.first_name
							input#old_password

						span.row
							label( for="new_password" ) New Password:
							span= errors.first_name
							input#new_password

						span.row
							label( for="repeat_new_password" ) Repeat New Password:
							span= errors.first_name
							input#repeat_new_password

						div#settingsAboutMeButtons
							input#submitNewPassword.btn_green( type="submit" value=tr['submit'])
							a#cancelNewPassword.cancel_link( href="javascript:;" onclick="cancelEditHiddenField('changePassword', 'editPassword')")= tr['cancel']


