extends layout
block content
	div#main_content
		//h4.left= title

		div#settingsNav
			ul
				li.first.active General Settings
				li Group 1
				li Group 2
				li.logout
					a(href="/logout") Logout


		div#settingsContent
			div.settingsElement
				form( method="POST")
					label First Name :
					p= errors.first_name
					input#first_name.existedValue( name="first_name" value=data.first_name disabled )
					input#first_name_shadow( name="first_name" value=data.first_name hidden disabled)
					input#submitFirstName( type="submit" value="Save" hidden)
					a#cancelEditFirstName.cancelEdit( href="javascript:;" onclick="cancelEditField('first_name_shadow', 'first_name', 'submitFirstName', 'cancelEditFirstName', 'editFirstName')" hidden) Cancel
					a#editFirstName.editLink( href="javascript:;" onclick="editField('first_name', 'submitFirstName',  'cancelEditFirstName', 'editFirstName')" ) Edit

			div.settingsElement
				form( method="POST")
					label Last Name :
					p= errors.last_name
					input#last_name.existedValue( name="last_name" value=data.last_name disabled )
					input#last_name_shadow( name="last_name" value=data.last_name hidden disabled)
					input#submitLastName( type="submit" value="Save" hidden)
					a#cancelEditLastName.cancelEdit( href="javascript:;" onclick="cancelEditField('last_name_shadow', 'last_name', 'submitLastName', 'cancelEditLastName', 'editLastName')" hidden) Cancel
					a#editLastName.editLink( href="javascript:;" onclick="editField('last_name', 'submitLastName', 'cancelEditLastName', 'editLastName')" ) Edit

