extends layout
block content

	div#main_content
		br
		br
		h4= profile.first_name
		ul
			-for( var i in profile.disciplines_of_user) {
				li
					a( href="javascript:;" id=profile.disciplines_of_user[i]+'_button' class="discipline_button" data-user-id=profile._id data-discipline=profile.disciplines_of_user[i] )= tr[profile.disciplines_of_user[i]]
			-}
		div#chart_div( style="width: 900px; height: 500px;" )



	//scripts
	script(type='text/javascript' src='https://www.google.com/jsapi')
	script(type='text/javascript', src='/javascripts/statistics.js')
	script(type='text/javascript').
		var main_discipline_exists = false
		if( #{profile.disciplines_of_user.indexOf(profile.discipline)} > -1 )
		{
			main_discipline_exists = true
		}
		document.ready = setDisciplineButtonHandler( '#{profile._id}' , '#{profile.discipline}', main_discipline_exists )


