extends layout
block content

	div#main_content
		br
		br
		h4= profile.first_name
		ul
			-for( var i in profile.disciplines_of_user) {
				li
					a( href="javascript:;" id=profile.disciplines_of_user[i]+'_button' class="discipline_button" data-user-id=profile._id data-discipline=profile.disciplines_of_user[i] )= tr[profile.disciplines_of_user[i]]
			-}

		div#dashboard
			div#chart_div( style="width: 915px; height: 300px;" )
			div#control( style='width: 915px; height: 50px;' )




	//scripts
	script(type='text/javascript' src='https://www.google.com/jsapi')
	script(type='text/javascript', src='/javascripts/statistics.js')
	script(type='text/javascript').
		if( #{profile.disciplines_of_user.indexOf(profile.discipline)} > -1 )
		{
			document.ready = setDisciplineButtonHandler( '#{profile._id}' , '#{profile.discipline}' )
		}
		else
		{
			document.ready = setDisciplineButtonHandler( '#{profile._id}' , 'undefined' )
		}



