extends welcome_layout

block content

	div#welcome_container
		div#header
			div#welcome_logo trafie

		form#register.welcome_form.col-xs-12.col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3(method="post")
			//FIRST NAME
			div.form-group
				label(for="first_name") First Name
					span#first_name_error
					if errors.first_name
						span.error_message= errors.first_name
				input#first_name.form-control(type="text" name="first_name" placeholder="" value=fields.first_name)

			//LAST NAME
			div.form-group
				label(for="last_name") Last Name
					span#last_name_error
					if errors.last_name
						span.error_message= errors.last_name
				input#last_name.form-control(type="text" name="last_name" placeholder="" value=fields.last_name)

			//EMAIL
			div.form-group
				label(for="email") Email
					span#email_error.warning_message
					if errors.email
						span.error_message= errors.email
				input#email.form-control(type="email" name="email" placeholder="" value=fields.email)

			//PASSWORDS
			if errors.password
					div.error_message= errors.password
			if errors.repeat_password
					div.error_message= errors.repeat_password
			div.form-group
				label(for="password") Password
					span#password_error
				input#password.form-control(type="password" name="password" value="123123")

			div.form-group
				label(for="repeat_password") Repeat Password
					span#repeat_password_error.warning_message
				input#repeat_password.form-control(type="password" name="repeat_password" value="123123")

			div
				p.information_message all fields are required

			input#register_button.btn.btn-success.btn-lg.btn-block(type="submit" name="sign_up" value="Register")
			div
				h3
				small Already a member?
				a(href="/login") &nbsp; Login
	//scripts
	script(type='text/javascript', src='/javascripts/login.js')
	script.
		registerHandlers();