h3= tr['profile_settings']

//PROFILE PIC
div#profilePicDiv.settingsElement
	form( method="POST" enctype="multipart/form-data" )
		label= tr['profile_picture'] + ': '
		img.settings_profile_pic_thumb( src="{{user.picture}}" )
		//span= errors.profile_pic
		input#upload_profile_pic.editable( name="profile_pic" type="file" accept="image/*")
		div.formButtons.editable
			input#submit_profile_pic.btn.green( type="submit" value=tr['submit'])
			a#cancelEditProfilePicture.cancel_link( href="javascript:;" )= tr['cancel']

		a#editProfilePicture.editLink.non_editable( href="javascript:;" )
			include ../svg/edit_activity_svg

//FIRST NAME
div#firstNameDiv.settingsElement
	form( method="POST")
		label= tr['first_name'] + ': '
		//span= errors.first_name
		span#first_name_error
		span.existed.non_editable {{ user.first_name }}
		input#first_name.editable( name="first_name" value="{{user.first_name}}" )
		div.formButtons.editable
			input#submitFirstName.btn.green( type="submit" value=tr['submit'])
			a#cancelEditFirstName.cancel_link( href="javascript:;" )= tr['cancel']

		a#editFirstName.editLink.non_editable( href="javascript:;" )
			include ../svg/edit_activity_svg

//LAST NAME
div#lastNameDiv.settingsElement
	form( method="POST")
		label= tr['last_name'] + ': '
		//span= errors.last_name
		span#last_name_error
		span.existed.non_editable {{user.last_name}}
		input#last_name.editable( name="last_name" value="{{user.last_name}}" )
		div.formButtons.editable
			input#submitLastName.btn.green( type="submit" value=tr['submit'])
			a#cancelEditLastName.cancel_link( href="javascript:;" )= tr['cancel']
		a#editLastName.editLink.non_editable( href="javascript:;" )
			include ../svg/edit_activity_svg

//MAIN DISCIPLINE
div#mainDisciplineDiv.settingsElement
	form( method="POST")
		label= tr['main_discipline'] + ': '
		//span= errors.last_name
		span.non_editable {{ user.discipline }}
		select#main_discipline_input.editable(name="discipline" )
			//- for( var i in disciplines ) {

				//- if user.discipline == disciplines[i]
				//- 	option( value=disciplines[i] selected)= tr[disciplines[i]]
				//- else
			//	option( value=disciplines[i] )= tr[disciplines[i]]
			//- }
		div.formButtons.editable
			input#submitMainDiscipline.btn.green( type="submit" value=tr['submit'])
			a#cancelEditMainDiscipline.cancel_link( href="javascript:;" )= tr['cancel']
		a#editMainDiscipline.editLink.non_editable( href="javascript:;" )
			include ../svg/edit_activity_svg

//GENDER
div#genderDiv.settingsElement
	form( method="POST")
		label= tr['gender'] + ': '
		//span= errors.last_name
		span.non_editable {{ user.gender }}
		div#gender.editable
			//- if user.gender == 'male'
			//- 	input(id="male" name="gender" type="radio" value="male" checked)
			//- 	label(for="male" class="clearfloat" )= tr['male']
			//- else
			//- 	input(id="male" name="gender" type="radio" value="male" )
			//- 	label(for="male" class="clearfloat" )= tr['male']
			//- if user.gender == 'female'
			//- 	input(id="female" name="gender" type="radio" value="female" checked)
			//- 	label(for="female" class="clearfloat" )= tr['female']
			//- else
			//- 	input(id="female" name="gender" type="radio" value="female")
			//- 	label(for="female" class="clearfloat" )= tr['female']
			input(id="male" name="gender" type="radio" value="male")
			label(for="male" class="clearfloat" )= tr['male']
			input(id="female" name="gender" type="radio" value="female")
			label(for="female" class="clearfloat" )= tr['female']

		div.formButtons.editable
			input#submitGender.btn.green( type="submit" value=tr['submit'])
			a#cancelEditGender.cancel_link( href="javascript:;" )= tr['cancel']
		a#editGender.editLink.non_editable( href="javascript:;" )
			include ../svg/edit_activity_svg

//AGE
div#ageDiv.settingsElement
	form( method="POST")
		label= tr['birthday'] + ': '
		div.col-md-6
			p.input-group
				input(type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close")
				span.input-group-btn
					button.btn.btn-default(type="button" ng-click="open($event)")
						i.glyphicon.glyphicon-calendar
		//span= errors.age
		//span.non_editable {{ user.birthday.year+'/'+user.birthday.month+'/'+user.birthday.day }}
		//div#birthday.editable
			//- select#birthday_year( name="birthday_year" onChange="setLeap(this.value)" )
			//- 	- for (var i = 2010; i > 1900; i--) {
			//- 			if i == user.birthday.year
			//- 				option( value=i selected)= i
			//- 			else
			//- 				option( value=i )= i
			//- 	- }
			//- select#birthday_month( name="birthday_month" onChange="setSmall(this.value)" )
			//- 	- for (var i = 1; i < 13; i++) {
			//- 		if i == user.birthday.month
			//- 			option( value=i selected )= i
			//- 		else
			//- 			option( value=i )= i

			//- 	- }
			//- select#birthday_day( name="birthday_day" )
			//- 	- for (var i = 1; i < 29; i++) {
			//- 		if i == user.birthday.day
			//- 			option( value=i selected )= i
			//- 		else
			//- 			option( value=i )= i
			//- 	- }
			//- 		option#m29( value="29" ) 29
			//- 		option#m30( value="30" ) 30
			//- 		option#m31( value="31" ) 31
		div.formButtons.editable
			input#submitAge.btn.green( type="submit" value=tr['submit'])
			a#cancelEditAge.cancel_link( href="javascript:;" )= tr['cancel']
		a#editAge.editLink.non_editable( href="javascript:;" )
			include ../svg/edit_activity_svg


//COUNTRY
div#countryDiv.settingsElement
	form( method="POST")
		label= tr['country'] + ': '
		//span= errors.country
		span.non_editable {{user.country}}
		select.editable(name="country" )
				option(value="no-selection" selected)= tr['choose_your_country']
				//- for( var i in countries ) {
				//	if user.country == countries[i]
				//		option( value=countries[i] selected)= tr[countries[i]]
				//	else
				//	option( value=countries[i] )= tr[countries[i]]
				//- }
		div.formButtons.editable
			input#submitCountry.btn.green( type="submit" value=tr['submit'])
			a#cancelEditCountry.cancel_link( href="javascript:;" )= tr['cancel']
		a#editCountry.editLink.non_editable( href="javascript:;" )
			include ../svg/edit_activity_svg



//ABOUT ME
div#aboutMeDiv.settingsElement
	form( method="POST")
		label= tr['about_me'] + ': '
		//span= errors.about
		span.non_editable( style="overflow-wrap: break-word;") {{user.about}}
		textarea.textarea.editable( name="about" maxlength="400" ) {{user.about}}
		div.formButtons.editable
			input#submitAboutMe.btn.green( type="submit" value=tr['submit'])
			a#cancelEditAboutMe.cancel_link( href="javascript:;" )= tr['cancel']
		a#editAboutMe.editLink.non_editable( href="javascript:;" )
			include ../svg/edit_activity_svg
