h3= tr['account_settings']

//CHANGE PASSWORD
div.settings-element
	label= tr['change_password']
	div( ng-show="edit_password" )
		form( method="POST" ng-submit="submitChangeSetting('password')")
			span
				label( for="old_password" )= tr['old_password'] + ': '
				//span= errors.first_name
				input( name="old_password" type="password")
			span
				label( for="password" )= tr['new_password'] + ': '
				//span= errors.first_name
				span#password_error
				input( name="password" type="password")
			span
				label( for="repeat_password" )= tr['repeat_password'] + ': '
				//span= errors.first_name
				span.warning_message
				input( name="repeat_password" type="password")
			div
				input.btn.green( type="submit" value=tr['submit'])
				a.cancel_link( ng-click="showHide('edit_password')" )= tr['cancel']
	a.editLink( ng-click="showHide('edit_password')" tooltip-placement="top" tooltip="Edit" )
		include ../svg/edit_activity_svg

//LANGUAGE
div.settings-element
	form( method="POST" ng-submit="submitChangeSetting('language')")
		label= tr['language'] + ': '
		span {{user.language}}
		div(ng-show="language_msg !=''") {{language_msg}}
		div( ng-show="edit_language" )
			select(name="language" ng-model="user.new_language")
				option(value="no-selection" selected)= tr['choose_your_language']
				- for( var i in languages )
						option( value=i )= languages[i]
		div.formButtons( ng-show="edit_language" )
			input.btn.green( type="submit" value=tr['submit'])
			a.cancel_link( ng-click="showHide('edit_language')" )= tr['cancel']
	a.editLink( ng-click="showHide('edit_language')" tooltip-placement="top" tooltip="Edit" )
			include ../svg/edit_activity_svg

//DATE FORMAT
div.settings-element
	form( method="POST" ng-submit="submitChangeSetting('date-format')" )
		label= tr['date_format'] + ': '
		span {{user.date_format}}
		div(ng-show="dateformat_msg !=''") {{dateformat_msg}}
		div( ng-show="edit_dateformat" )
			select( name='date_format' ng-model="user.date_format")
				option( value='m-d-y' )= tr['m-d-y']
				option( value='d-m-y' )= tr['d-m-y']
		div.formButtons( ng-show="edit_dateformat" )
			input.btn.green( type="submit" value=tr['submit'])
			a.cancel_link( ng-click="showHide('edit_dateformat')" )= tr['cancel']
	a.editLink( ng-click="showHide('edit_dateformat')" tooltip-placement="top" tooltip="Edit" )
			include ../svg/edit_activity_svg

//USERNAME
div.settings-element
	form( method="POST" ng-submit="submitChangeSetting('username')" )
		label http://www.trafie.com/
		//span= errors.username
		span#username_error
		span.existed( ng-show="!edit_username" ) {{user.username || user._id}}
		input( ng-model="user.new_username" placeholder="{{user.username || user._id}}" ng-show="edit_username" )
		div.formButtons( ng-show="edit_username" )
			input.btn.green( type="submit" value=tr['submit'])
			a.cancel_link( ng-click="showHide('edit_username')" )= tr['cancel']
	a.editLink( ng-click="showHide('edit_username')" tooltip-placement="top" tooltip="Edit" )
			include ../svg/edit_activity_svg

