h3= tr['account_settings']

//CHANGE PASSWORD
div.settings-element(ng-class="{editable: isEditable.password}")
	label= tr['change_password']
	form( method="POST" ng-submit="submitChangeSetting('password')" class="form-horizontal" role="form")
		div(ng-show="isEditable.password" )
			div.form-group
				label( for="old_password" )= tr['old_password'] + ': '
				input( name="old_password" ng-model="localUser.old_password" type="password")
			div.form-group
				label( for="password" )= tr['new_password'] + ': '
				input( name="password" ng-model="localUser.password" type="password")
			div.form-group
				label( for="repeat_password" )= tr['repeat_password'] + ': '
				input( name="repeat_password" ng-model="localUser.repeat_password" type="password")
			div.formButtons
				hr
				input.btn.btn-success( type="submit" value=tr['submit'])
				a.btn.btn-link( ng-click="toggleEdit('password')" )= tr['cancel']
		div(ng-show="password_msg" ng-class="{message_error: !success, message_success: success}") {{password_msg}}
	a.editLink( ng-click="toggleEdit('password')" ng-if="!isTouch" tooltip-placement="top" tooltip="Edit" )
		include ../svg/edit_activity_svg
	a.editLink( ng-click="toggleEdit('password')" ng-if="isTouch" )
		include ../svg/edit_activity_svg
hr.main-separator

//LANGUAGE
div.settings-element(ng-class="{editable: isEditable.language}")
	label= tr['language'] + ': '
	form(method="POST" ng-submit="submitChangeSetting('language')")
		span {{localUser.language_formatted}}
		div(ng-show="isEditable.language")
			select(name="language" ng-model="localUser.language")
				option(value="no-selection")= tr['choose_your_language']
				- for( var i in languages )
						option( value=i )= languages[i]
		div(ng-show="language_msg" ng-class="{message_error: !success, message_success: success}") {{language_msg}}
		div.formButtons(ng-show="isEditable.language")
			hr
			input.btn.btn-success( type="submit" value=tr['submit'])
			a.btn.btn-link( ng-click="toggleEdit('language')" )= tr['cancel']
	a.editLink( ng-click="toggleEdit('language')" ng-if="!isTouch" tooltip-placement="top" tooltip="Edit" )
			include ../svg/edit_activity_svg
	a.editLink( ng-click="toggleEdit('language')" ng-if="isTouch" )
		include ../svg/edit_activity_svg
hr.main-separator

//DATE FORMAT
div.settings-element(ng-class="{editable: isEditable.dateFormat}")
	label= tr['date_format'] + ': '
	form( method="POST" ng-submit="submitChangeSetting('date-format')" )
		span {{localUser.date_format}}
		div( ng-show="isEditable.dateFormat" )
			select( name='date_format' ng-model="localUser.dateFormat")
				option( value='m-d-y' )= tr['m-d-y']
				option( value='d-m-y' )= tr['d-m-y']
		div(ng-show="dateformat_msg" ng-class="{message_error: !success, message_success: success}") {{dateformat_msg}}
		div.formButtons( ng-show="isEditable.dateFormat" )
			hr
			input.btn.btn-success( type="submit" value=tr['submit'])
			a.btn.btn-link( ng-click="toggleEdit('date_format')" )= tr['cancel']
	a.editLink( ng-click="toggleEdit('date_format')" ng-if="!isTouch" tooltip-placement="top" tooltip="Edit" )
			include ../svg/edit_activity_svg
	a.editLink( ng-click="toggleEdit('date_format')" ng-if="isTouch" )
		include ../svg/edit_activity_svg
hr.main-separator
	
//USERNAME
div.settings-element(ng-class="{editable: isEditable.username}")
	label= tr['username'] + ': '
	form( method="POST" ng-submit="submitChangeSetting('username')" )
		span http://www.trafie.com/
		span.existed( ng-show="!isEditable.username" ) {{localUser.username || localUser._id}}
		input(ng-model="localUser.new_username" placeholder="{{localUser.username || localUser._id}}" ng-show="isEditable.username")
		div(ng-show="username_msg" ng-class="{message_error: !success, message_success: success}") {{username_msg}}
		div.formButtons( ng-show="isEditable.username" )
			hr
			input.btn.btn-success( type="submit" value=tr['submit'])
			a.btn.btn-link( ng-click="toggleEdit('username')" )= tr['cancel']
	a.editLink( ng-click="toggleEdit('username')" ng-if="!isTouch" tooltip-placement="top" tooltip="Edit" )
			include ../svg/edit_activity_svg
	a.editLink( ng-click="toggleEdit('username')" ng-if="isTouch" )
		include ../svg/edit_activity_svg

