h3= tr['profile_settings']

//PROFILE PIC
div.settings-element-profile-pic
	label= tr['profile_picture'] + ': '
	img.thumb( src="{{localUser.picture}}" )
	a.editLink( ng-click="showHide('edit_profilepic')" tooltip-placement="top" tooltip="Edit" )
		include ../svg/edit_activity_svg
	div( ng-show="edit_profilepic" )
		div
			input( type="file" ng-file-select="onFileSelect($files)" )
			button( ng-click="upload.abort()" ) Cancel Upload
			div( ng-show="selectedFiles != null")
				div( class="sel-file" ng-repeat="f in selectedFiles")
					{{($index + 1) + '.'}}
					img( ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}" )
					button.btn.green( ng-click="start($index)" ng-show="progress[$index] < 0") Start
					span( class="progress" ng-show="progress[$index] >= 0" )
						div( style="width:{{progress[$index]}}%") {{progress[$index]}}%
					button( class="button" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100") Abort
					{{f.name}} - size: {{f.size}}B - type: {{f.type}}
		div.formButtons( ng-show="edit_profilepic" )
			a.cancel_link( ng-click="showHide('edit_profilepic')" )= tr['cancel']


//FIRST NAME
div.settings-element(ng-class="{editable: edit_fname}")
	label= tr['first_name'] + ': '
	form.middle-section( method="POST" ng-submit="submitChangeSetting('first_name')")
		span(ng-show="!edit_fname") {{ localUser.first_name }}
		div(ng-show="first_name_msg !=''" ng-class="{error: !success, success: success}") {{first_name_msg}}
		div(ng-show="edit_fname")
			input.form-control( ng-model="localUser.new_first_name" name="first_name" )
		div.formButtons( ng-show="edit_fname" )
			hr
			input.btn.green( type="submit" value=tr['submit'])
			a.cancel_link( ng-click="showHide('edit_fname')" )= tr['cancel']
	a.editLink( ng-click="showHide('edit_fname')" tooltip-placement="top" tooltip="Edit" )
			include ../svg/edit_activity_svg

//LAST NAME
div.settings-element(ng-class="{editable: edit_lastname}")
	label= tr['last_name'] + ': '
	form.middle-section( method="POST" ng-submit="submitChangeSetting('last_name')")
		span(ng-show="!edit_lastname") {{localUser.last_name}}
		div(ng-show="last_name_msg !=''" ng-class="{error: !success, success: success}") {{last_name_msg}}
		div(ng-show="edit_lastname" )
			input(ng-model="localUser.new_last_name" name="last_name" )
		div.formButtons(ng-show="edit_lastname")
			hr
			input.btn.green( type="submit" value=tr['submit'])
			a.cancel_link( ng-click="showHide('edit_lastname')")= tr['cancel']
	a.editLink( ng-click="showHide('edit_lastname')" tooltip-placement="top" tooltip="Edit" )
			include ../svg/edit_activity_svg

//MAIN DISCIPLINE
div.settings-element
	label= tr['main_discipline'] + ': '
	form.middle-section( method="POST" ng-submit="submitChangeSetting('discipline')")
		span {{ localUser.discipline_formatted }}
		div(ng-show="discipline_msg !=''" ng-class="{error: !success, success: success}") {{discipline_msg}}
		div(ng-show="edit_discipline")
			select(ng-model="localUser.new_main_discipline")
				option( value="")= tr['choose_your_discipline']
				- for (i in disciplines)
					option( value=disciplines[i])= tr[disciplines[i]]
			div.formButtons
				hr
				input.btn.green( type="submit" value=tr['submit'])
				a.cancel_link( ng-click="showHide('edit_discipline')" )= tr['cancel']
	a.editLink( ng-click="showHide('edit_discipline')" tooltip-placement="top" tooltip="Edit" )
			include ../svg/edit_activity_svg

//PRIVACY
div.settings-element
	label= tr['privacy'] + ': '
	form.middle-section( method="POST" ng-submit="submitChangeSetting('privacy')")
		span {{localUser.private}}
		div(ng-show="privacy_msg !=''" ng-class="{error: !success, success: success}") {{privacy_msg}}
		div( ng-show="edit_privacy" )
			label(for="privacy") Private
				input( type="checkbox" name="privacy" value="yes" ng-model="localUser.new_privacy" ng-show="edit_privacy" ng-checked="localUser.private" )
		div.formButtons(ng-show="edit_privacy")
			hr
			input.btn.green( type="submit" value=tr['submit'])
			a.cancel_link( ng-click="showHide('edit_privacy')" )= tr['cancel']
	a.editLink( ng-click="showHide('edit_privacy')" tooltip-placement="top" tooltip="Edit" )
			include ../svg/edit_activity_svg

//GENDER
div.settings-element
	label= tr['gender'] + ': '
	form.middle-section( method="POST" ng-submit="submitChangeSetting('gender')")
		span {{ localUser.gender_formatted }}
		div(ng-show="gender_msg !=''") {{gender_msg}}
		div#gender( ng-show="edit_gender" )
			label(for="male")= tr['male']
				input(id="male" name="gender" type="radio" ng-model="localUser.gender" value="male")
			label(for="female")= tr['female']
				input(id="female" name="gender" type="radio" ng-model="localUser.gender" value="female")
		div.formButtons(ng-show="edit_gender")
			hr
			input.btn.green( type="submit" value=tr['submit'])
			a.cancel_link( ng-click="showHide('edit_gender')" )= tr['cancel']
	a.editLink( ng-click="showHide('edit_gender')" tooltip-placement="top" tooltip="Edit" )
			include ../svg/edit_activity_svg



//BIRTHDAY
div.settings-element
	label= tr['birthday'] + ': '
	form.middle-section( method="POST" ng-submit="submitChangeSetting('birthday')")
		span {{ localUser.birthday.day }}.{{ localUser.birthday.month }}.{{ localUser.birthday.year }}
		div(ng-show="birthday_msg !=''") {{birthday_msg}}
		div(ng-show="edit_birthday")
			p.input-group
				input(type="text" class="form-control" datepicker-popup="{{format}}" ng-model="localUser.new_birthday" is-open="opened" min-date="'1970-06-22'" max-date="'2005-12-01'" show-weeks="false" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close")
		div.formButtons(ng-show="edit_birthday")
			hr
			input.btn.green( type="submit" value=tr['submit'])
			a.cancel_link( ng-click="showHide('edit_birthday')" )= tr['cancel']
	a.editLink( ng-click="showHide('edit_birthday')" tooltip-placement="top" tooltip="Edit" )
			include ../svg/edit_activity_svg

//COUNTRY
div.settings-element
	label= tr['country'] + ': '
	form.middle-section( method="POST" ng-submit="submitChangeSetting('country')")
		span {{localUser.country_formatted}}
		div(ng-show="country_msg !=''") {{country_msg}}
		div( ng-show="edit_country"  )
			select( name="country" ng-model="localUser.country")
				option(value="no-selection" selected)= tr['choose_your_country']
				- for( var i in countries )
					option( value=countries[i] )= tr[countries[i]]
		div.formButtons(ng-show="edit_country")
			hr
			input.btn.green( type="submit" value=tr['submit'])
			a.cancel_link( ng-click="showHide('edit_country')")= tr['cancel']
	a.editLink( ng-click="showHide('edit_country')" tooltip-placement="top" tooltip="Edit" )
			include ../svg/edit_activity_svg


//ABOUT ME
div.settings-element
	label= tr['about_me'] + ': '
	form.middle-section( method="POST" ng-submit="submitChangeSetting('about')")
		span( style="overflow-wrap: break-word;") {{localUser.about}}
		div(ng-show="about_msg !=''") {{about_msg}}
		div( ng-show="edit_about" )
			textarea.textarea( name="about" maxlength="400"  ng-model="localUser.new_about" ) {{localUser.about}}
		div.formButtons( ng-show="edit_about" )
			hr
			input.btn.green( type="submit" value=tr['submit'])
			a.cancel_link( ng-click="showHide('edit_about')" )= tr['cancel']
	a.editLink( ng-click="showHide('edit_about')" tooltip-placement="top" tooltip="Edit" )
			include ../svg/edit_activity_svg


