h3= tr['profile_settings']

//PROFILE PIC
div.settings-element(ng-class="{editable: isEditable.profile_pic}")
	label= tr['profile_picture'] + ': '
	form.middle-section( method="POST" ng-submit="submitChangeSetting('profile_pic')")
		img.thumb(src="{{localUser.picture}}")
		div( ng-show="isEditable.profile_pic")
			input(type="file" ng-file-select="onFileSelect($files)")
		div
			p(ng-show="uploading") please wait while file is uploaded
		div(ng-show="profile_pic_msg" ng-class="{message_error: !success, message_success: success}") {{profile_pic_msg}}
		div.formButtons( ng-show="isEditable.profile_pic" )
			hr
			input.btn.btn-success( type="submit" value="Upload")
			a.btn.btn-link( ng-click="toggleEdit('profile_pic')" )= tr['cancel']
	a.editLink( ng-click="toggleEdit('profile_pic')" ng-if="!isTouch" tooltip-placement="top" tooltip="Edit" )
		include ../svg/edit_activity_svg
	a.editLink( ng-click="toggleEdit('profile_pic')" ng-if="isTouch")
		include ../svg/edit_activity_svg
hr.main-separator

//FIRST NAME
div.settings-element(ng-class="{editable: isEditable.first_name}")
	label= tr['first_name'] + ': '
	form.middle-section( method="POST" ng-submit="submitChangeSetting('first_name')" name="fname_form")
		span(ng-show="!isEditable.first_name") {{ localUser.first_name }}
		div(ng-show="isEditable.first_name")
			input.form-control(ng-model="localUser.new_first_name" name="first_name" ng-pattern="ONLY_ALPHABETIC" ng-class="{error: fname_form.first_name.$error.pattern}")
			span.message_error(ng-show="fname_form.first_name.$error.pattern" ) Only alphabetic characters are allowed
		div(ng-show="first_name_msg" ng-class="{message_error: !success, message_success: success}") {{first_name_msg}}
		div.formButtons( ng-show="isEditable.first_name" )
			hr
			input.btn.btn-success( type="submit" value=tr['submit'])
			a.btn.btn-link( ng-click="toggleEdit('first_name')" )= tr['cancel']
	a.editLink( ng-click="toggleEdit('first_name')" ng-if="!isTouch" tooltip-placement="top" tooltip="Edit" )
			include ../svg/edit_activity_svg
	a.editLink( ng-click="toggleEdit('first_name')" ng-if="isTouch")
		include ../svg/edit_activity_svg
hr.main-separator

//LAST NAME
div.settings-element(ng-class="{editable: isEditable.last_name}")
	label= tr['last_name'] + ': '
	form.middle-section( method="POST" ng-submit="submitChangeSetting('last_name')" name="lname_form")
		span(ng-show="!isEditable.last_name") {{localUser.last_name}}
		div(ng-show="isEditable.last_name" )
			input.form-control(ng-model="localUser.new_last_name" name="last_name" ng-pattern="ONLY_ALPHABETIC" ng-class="{error: lname_form.last_name.$error.pattern}")
		div(ng-show="last_name_msg" ng-class="{message_error: !success, message_success: success}") {{last_name_msg}}
		div.formButtons(ng-show="isEditable.last_name")
			hr
			input.btn.btn-success( type="submit" value=tr['submit'])
			a.btn.btn-link( ng-click="toggleEdit('last_name')")= tr['cancel']
	a.editLink( ng-click="toggleEdit('last_name')" ng-if="!isTouch" tooltip-placement="top" tooltip="Edit" )
			include ../svg/edit_activity_svg
	a.editLink( ng-click="toggleEdit('last_name')" ng-if="isTouch")
		include ../svg/edit_activity_svg
hr.main-separator

//MAIN DISCIPLINE
div.settings-element(ng-class="{editable: isEditable.main_discipline}")
	label= tr['main_discipline'] + ': '
	form.middle-section( method="POST" ng-submit="submitChangeSetting('discipline')")
		span {{ localUser.discipline_formatted }}
		div(ng-show="discipline_msg" ng-class="{message_error: !success, message_success: success}") {{discipline_msg}}
		div(ng-show="isEditable.main_discipline")
			select(ng-model="localUser.new_main_discipline")
				option( value="")= tr['choose_your_discipline']
				- for (i in disciplines)
					option( value=disciplines[i])= tr[disciplines[i]]
			div.formButtons
				hr
				input.btn.btn-success( type="submit" value=tr['submit'])
				a.btn.btn-link( ng-click="toggleEdit('main_discipline')" )= tr['cancel']
	a.editLink( ng-click="toggleEdit('main_discipline')" ng-if="!isTouch" tooltip-placement="top" tooltip="Edit" )
			include ../svg/edit_activity_svg
	a.editLink( ng-click="toggleEdit('main_discipline')" ng-if="isTouch")
		include ../svg/edit_activity_svg
hr.main-separator

//PRIVACY
div.settings-element(ng-class="{editable: isEditable.privacy}")
	label= tr['privacy'] + ': '
	form.middle-section( method="POST" ng-submit="submitChangeSetting('privacy')")
		span {{localUser.private}}
		div(ng-show="privacy_msg" ng-class="{message_error: !success, message_success: success}") {{privacy_msg}}
		div( ng-show="isEditable.privacy" )
			label(for="privacy") Private
				input( type="checkbox" name="privacy" value="yes" ng-model="localUser.new_privacy" ng-checked="localUser.private" )
		div.formButtons(ng-show="isEditable.privacy")
			hr
			input.btn.btn-success( type="submit" value=tr['submit'])
			a.btn.btn-link( ng-click="toggleEdit('privacy')" )= tr['cancel']
	a.editLink( ng-click="toggleEdit('privacy')" ng-if="!isTouch" tooltip-placement="top" tooltip="Edit" )
			include ../svg/edit_activity_svg
	a.editLink( ng-click="toggleEdit('privacy')" ng-if="isTouch")
		include ../svg/edit_activity_svg
hr.main-separator

//GENDER
div.settings-element(ng-class="{editable: isEditable.gender}")
	label= tr['gender'] + ': '
	form.middle-section( method="POST" ng-submit="submitChangeSetting('gender')")
		span {{ localUser.gender_formatted }}
		div(ng-show="gender_msg" ng-class="{message_error: !success, message_success: success}") {{gender_msg}}
		div#gender( ng-show="isEditable.gender" )
			label(for="male")= tr['male']
				input(id="male" name="gender" type="radio" ng-model="localUser.gender" value="male")
			label(for="female")= tr['female']
				input(id="female" name="gender" type="radio" ng-model="localUser.gender" value="female")
		div.formButtons(ng-show="isEditable.gender")
			hr
			input.btn.btn-success( type="submit" value=tr['submit'])
			a.btn.btn-link( ng-click="toggleEdit('gender')" )= tr['cancel']
	a.editLink( ng-click="toggleEdit('gender')" ng-if="!isTouch" tooltip-placement="top" tooltip="Edit" )
			include ../svg/edit_activity_svg
	a.editLink( ng-click="toggleEdit('gender')" ng-if="isTouch")
		include ../svg/edit_activity_svg
hr.main-separator

//BIRTHDAY
div.settings-element(ng-class="{editable: isEditable.birthday}")
	label= tr['birthday'] + ': '
	form.middle-section( method="POST" ng-submit="submitChangeSetting('birthday')")
		span {{ localUser.birthday.day }}.{{ localUser.birthday.month }}.{{ localUser.birthday.year }}
		div(ng-show="isEditable.birthday")
			p.input-group
				input(type="text" class="form-control" datepicker-popup="{{format}}" ng-model="localUser.new_birthday" is-open="opened" min-date="'1970-06-22'" max-date="'2005-12-01'" show-button-bar="false" show-weeks="false" init-date="'Oct 19 2014'" datepicker-options="dateOptions" ng-required="true" close-text="Close")
		div(ng-show="birthday_msg" ng-class="{message_error: !success, message_success: success}") {{birthday_msg}}
		div.formButtons(ng-show="isEditable.birthday")
			hr
			input.btn.btn-success( type="submit" value=tr['submit'])
			a.btn.btn-link( ng-click="toggleEdit('birthday')" )= tr['cancel']
	a.editLink( ng-click="toggleEdit('birthday')" ng-if="!isTouch" tooltip-placement="top" tooltip="Edit" )
			include ../svg/edit_activity_svg
	a.editLink( ng-click="toggleEdit('birthday')" ng-if="isTouch")
		include ../svg/edit_activity_svg
hr.main-separator
	
//COUNTRY
div.settings-element(ng-class="{editable: isEditable.country}")
	label= tr['country'] + ': '
	form.middle-section( method="POST" ng-submit="submitChangeSetting('country')")
		span {{localUser.country_formatted}}
		div( ng-show="isEditable.country"  )
			select( name="country" ng-model="localUser.country")
				option(value="no-selection" selected)= tr['choose_your_country']
				- for( var i in countries )
					option( value=countries[i] )= tr[countries[i]]
		div(ng-show="country_msg" ng-class="{message_error: !success, message_success: success}") {{country_msg}}
		div.formButtons(ng-show="isEditable.country")
			hr
			input.btn.btn-success( type="submit" value=tr['submit'])
			a.btn.btn-link( ng-click="toggleEdit('country')")= tr['cancel']
	a.editLink( ng-click="toggleEdit('country')" ng-if="!isTouch" tooltip-placement="top" tooltip="Edit" )
			include ../svg/edit_activity_svg
	a.editLink( ng-click="toggleEdit('country')" ng-if="isTouch")
		include ../svg/edit_activity_svg
hr.main-separator

//ABOUT ME
div.settings-element(ng-class="{editable: isEditable.about}")
	label= tr['about_me'] + ': '
	form.middle-section( method="POST" ng-submit="submitChangeSetting('about')")
		span( style="overflow-wrap: break-word;") {{localUser.about}}
		div( ng-show="isEditable.about" )
			textarea.textarea( name="about" maxlength="400" rows="4" ng-model="localUser.new_about") {{localUser.about}}
		div(ng-show="about_msg" ng-class="{message_error: !success, message_success: success}") {{about_msg}}
		div.formButtons( ng-show="isEditable.about" )
			hr
			input.btn.btn-success( type="submit" value=tr['submit'])
			a.btn.btn-link( ng-click="toggleEdit('about')" )= tr['cancel']
	a.editLink( ng-click="toggleEdit('about')" ng-if="!isTouch" tooltip-placement="top" tooltip="Edit" )
			include ../svg/edit_activity_svg
	a.editLink( ng-click="toggleEdit('about')" ng-if="isTouch")
		include ../svg/edit_activity_svg


