h3= tr['profile_settings']

//PROFILE PIC
div#profilePicDiv.settingsElement
	a#editProfilePicture.editLink( ng-click="showHide('edit_profilepic')" )
			include ../svg/edit_activity_svg
		label= tr['profile_picture'] + ': '
		img.settings_profile_pic_thumb( src="{{user.picture}}" )
		//span= errors.profile_pic
		div( ng-show="edit_profilepic" )
			div
				input( type="file" ng-file-select="onFileSelect($files)" )
				button( ng-click="upload.abort()" ) Cancel Upload
				div( ng-show="selectedFiles != null")
					div( class="sel-file" ng-repeat="f in selectedFiles")
						{{($index + 1) + '.'}}
						img( ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}" )
						button.btn.green( ng-click="start($index)" ng-show="progress[$index] < 0") Start
						span( class="progress" ng-show="progress[$index] >= 0" )
							div( style="width:{{progress[$index]}}%") {{progress[$index]}}%
						button( class="button" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100") Abort
						{{f.name}} - size: {{f.size}}B - type: {{f.type}}
		div.formButtons( ng-show="edit_profilepic" )
			a#cancelEditProfilePicture.cancel_link( ng-click="showHide('edit_profilepic')" )= tr['cancel']


//FIRST NAME
div#firstNameDiv.settingsElement
	a#editFirstName.editLink( ng-click="showHide('edit_fname')" )
			include ../svg/edit_activity_svg
	form( method="POST" ng-submit="submitChangeSetting('first_name')")
		label= tr['first_name'] + ': '
		span.existed {{ user.first_name }}
		div( ng-show="first_name_msg !=''") {{first_name_msg}}
		div( ng-show="edit_fname" )
			input#first_name( ng-model="user.new_first_name" name="first_name" value="{{user.first_name}}" )
		div.formButtons( ng-show="edit_fname" )
			input#submitFirstName.btn.green( type="submit" value=tr['submit'])
			a#cancelEditFirstName.cancel_link( ng-click="showHide('edit_fname')" )= tr['cancel']

//LAST NAME
div#lastNameDiv.settingsElement
	a#editLastName.editLink( ng-click="showHide('edit_lastname')" )
			include ../svg/edit_activity_svg
	form( method="POST" ng-submit="submitChangeSetting('last_name')")
		label= tr['last_name'] + ': '
		span.existed {{user.last_name}}
		div(ng-show="last_name_msg !=''") {{last_name_msg}}
		div( ng-show="edit_lastname" )
			input#last_name( ng-model="user.new_last_name" name="last_name" value="{{user.last_name}}" )
		div.formButtons(ng-show="edit_lastname")
			input#submitLastName.btn.green( type="submit" value=tr['submit'])
			a#cancelEditLastName.cancel_link( ng-click="showHide('edit_lastname')")= tr['cancel']

//MAIN DISCIPLINE
div#mainDisciplineDiv.settingsElement
	a#editMainDiscipline.editLink( ng-click="showHide('edit_discipline')" )
			include ../svg/edit_activity_svg
	form( method="POST" ng-submit="submitChangeSetting('discipline')")
		label= tr['main_discipline'] + ': '
		span {{ user.discipline_formatted }}
		div(ng-show="discipline_msg !=''") {{discipline_msg}}
		div(ng-show="edit_discipline")
			select( ng-model="user.new_main_discipline" ng-options="discipline.name for discipline in disciplines_options " ng-init="selected_discipline = disciplines_options[0].name" )
				option( value="")= tr['choose_your_discipline']
			div.formButtons
				input#submitMainDiscipline.btn.green( type="submit" value=tr['submit'])
				a#cancelEditMainDiscipline.cancel_link( ng-click="showHide('edit_discipline')" )= tr['cancel']

//PRIVACY
div#privacyDiv.settingsElement
	a.editLink( ng-click="showHide('edit_privacy')" )
			include ../svg/edit_activity_svg
	form( method="POST" ng-submit="submitChangeSetting('privacy')")
		label= tr['privacy'] + ': '
		span {{user.private}}
		div(ng-show="privacy_msg !=''") {{privacy_msg}}
		div( ng-show="edit_privacy" )
			label(for="privacy") Private
			input( type="checkbox" name="privacy" value="yes" ng-model="user.new_privacy" ng-show="edit_privacy" )
		div.formButtons( ng-show="edit_privacy" )
			input#submitLanguage.btn.green( type="submit" value=tr['submit'])
			a#cancelEditLanguage.cancel_link( ng-click="showHide('edit_privacy')" )= tr['cancel']

//GENDER
div#genderDiv.settingsElement
	a#editGender.editLink( ng-click="showHide('edit_gender')" )
			include ../svg/edit_activity_svg
	form( method="POST" ng-submit="submitChangeSetting('gender')")
		label= tr['gender'] + ': '
		span {{ user.gender_formatted }}
		div(ng-show="gender_msg !=''") {{gender_msg}}
		div#gender( ng-show="edit_gender" )
			input(id="male" name="gender" type="radio" ng-model="user.gender" value="male")
			label(for="male" class="clearfloat" )= tr['male']
			input(id="female" name="gender" type="radio" ng-model="user.gender" value="female")
			label(for="female" class="clearfloat" )= tr['female']

		div.formButtons(ng-show="edit_gender")
			input#submitGender.btn.green( type="submit" value=tr['submit'])
			a#cancelEditGender.cancel_link( ng-click="showHide('edit_gender')" )= tr['cancel']


//BIRTHDAY
div#ageDiv.settingsElement
	a#editAge.editLink( ng-click="showHide('edit_birthday')" )
			include ../svg/edit_activity_svg
	form( method="POST" ng-submit="submitChangeSetting('birthday')")
		label= tr['birthday'] + ': '
		span {{ user.birthday.day }}.{{ user.birthday.month }}.{{ user.birthday.year }}
		div(ng-show="birthday_msg !=''") {{birthday_msg}}
		div(ng-show="edit_birthday")
			p.input-group
				input(type="text" class="form-control" datepicker-popup="{{format}}" ng-model="user.new_birthday" is-open="opened" min-date="'1970-06-22'" max-date="'2005-12-01'" show-weeks="false" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close")
		div.formButtons(ng-show="edit_birthday")
			input#submitAge.btn.green( type="submit" value=tr['submit'])
			a#cancelEditAge.cancel_link( ng-click="showHide('edit_birthday')" )= tr['cancel']

//COUNTRY
div#countryDiv.settingsElement
	a#editCountry.editLink( ng-click="showHide('edit_country')" )
			include ../svg/edit_activity_svg
	form( method="POST" ng-submit="submitChangeSetting('country')")
		label= tr['country'] + ': '
		span {{user.country_formatted}}
		div(ng-show="country_msg !=''") {{country_msg}}
		div( ng-show="edit_country"  )
			select( name="country" ng-model="user.country")
				option(value="no-selection" selected)= tr['choose_your_country']
				- for( var i in countries )
					option( value=countries[i] )= tr[countries[i]]

		div.formButtons(ng-show="edit_country")
			input#submitCountry.btn.green( type="submit" value=tr['submit'])
			a#cancelEditCountry.cancel_link( ng-click="showHide('edit_country')")= tr['cancel']

//ABOUT ME
div#aboutDiv.settingsElement
	a#editAbout.editLink( ng-click="showHide('edit_about')" )
			include ../svg/edit_activity_svg
	form( method="POST" ng-submit="submitChangeSetting('about')")
		label= tr['about_me'] + ': '
		span( style="overflow-wrap: break-word;") {{user.about}}
		div(ng-show="about_msg !=''") {{about_msg}}
		div( ng-show="edit_about" )
			textarea.textarea( name="about" maxlength="400"  ng-model="user.new_about" ) {{user.about}}
		div.formButtons( ng-show="edit_about" )
			input#submitAbout.btn.green( type="submit" value=tr['submit'])
			a#cancelEditAbout.cancel_link( ng-click="showHide('edit_about')" )= tr['cancel']


